/* responsive media query mobile device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .max-width{
        padding: 0 40px;
    }
}

@media screen and (max-width: 576px) {
    .max-width{
        padding: 0 30px;
    }
    .header .logo a{
        font-size: 30px;
    }
    .menu{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .banner-content{
        flex-direction: column;
    }
    .b-left h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .b-left p {
        font-size: 14px;
        padding: 20px 0px;
    }
    .btn-primary {
        padding: 8px 21px;
        font-size: 14px;
    }
    .btn-secondary{
        padding: 8px 21px;
        font-size: 15px;
    }
    .b-right img{
        margin-top: 20px;
    }
    .btn-top {
        background-color: #202020;
        top: 16%;
        right: -3%;
        padding: 16px 15px;
    }
    .btn-top h2 {
        font-size: 25px;
        font-weight: 700;
    }
    .btn-top p {
        font-size: 13px;
    }
    .btn-bottom {
        gap: 0 13px;
        left: -3%;
        bottom: 44%;
        padding: 16px 15px;
    }
    .btn-bottom h2 {
        font-size: 25px;
        font-weight: 700;
    }
    .btn-bottom p {
        font-size: 13px;
    }
    .circle {
        width: 31px;
        height: 30px;
    }
    .habit{
        padding: 20px 0;
    }
    .habit-container{
        flex-direction: column;
    }
    .habit-title h2 {
        font-size: 25px;
        font-weight: 700;
    }
    .habit-title p{
        font-size: 14px;
        font-weight: 300;
        color: var(--title-color);
        line-height: 26px;
        padding: 10px 0;
    }
    .run-container{
        padding: 17px 20px;
        flex-direction: column;
        gap: 20px;
    }
    .run-left{
        width: 100%;
    }
    .run-left h1{
        font-size: 25px;
    }
    .run-left p {
        font-size: 14px;
    }
    .run-right{
        width: 100%;
    }
    .run-right img{
        width: 100%;
        text-align: center;
    }
    .bmi-content{
        flex-direction: column;
        gap: 30px 0;
    }
    .bmi-title {
        width: 82%;
    }
    .bmi-title h2{
        font-size: 25px;
        font-weight: 700;
    }
    .bmi-title p{
        font-size: 14px;
    }
    .bmi-left {
        width: 100%;
        margin: 0;
    }
    .bmi-right {
        width: 100%;
    }
    .bmi-right input[type="text"]{
        width: 74%;
    }
    .bmi-right #select_activity {
        width: 206%;
    }
    .bmi-left h3 {
        font-size: 20px;
    }
    .bmi-right h3{
        font-size: 20px;
    }
    .bmi-right p{
        font-size: 13px;
    }
    .teams-container{
        padding: 15px 5px;
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-box {
        width: 100%;
    }
    .teams-title h2 {
        font-size: 25px;
        font-weight: 700;
    }
    .teams-title p {
        font-size: 14px;
    }
    .footer-container{
        flex-direction: column;
        gap: 20px;
    }
    .footer-left{
        width: 100%;
    }
    .footer-right{
        width: 100%;
        gap: 10px;
        flex-direction: column;
    }
    .f-left{
        width: 100%;
    }
    .f-right{
        width: 100%;
    }
    .footer-left h1 {
        font-size: 32px;
    }
    .footer-left p {
        font-size: 14px;
        padding: 15px 0;
    }
    .f-left h2 {
        font-size: 20px;
        margin-bottom: 7px;
    }
    .f-right h2 {
        font-size: 20px;
        margin-bottom: 7px;
    }
    .f-left ul li a {
        font-size: 14px;
    }
    .footer-title p {
        font-size: 16px;
    }
}