/* responsive media query mobile device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .max-width{
        padding: 0 40px;
    }
}

@media screen and (max-width: 576px) {
    .max-width{
        padding: 0 30px;
    }
    .header .logo a{
        font-size: 30px;
    }
    .menu{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .banner-content{
        flex-direction: column;
    }
    .b-left h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .b-left p {
        font-size: 14px;
        padding: 20px 0px;
    }
    .btn-primary {
        padding: 8px 21px;
        font-size: 14px;
    }
    .btn-secondary{
        padding: 8px 21px;
        font-size: 15px;
    }
    .b-right img{
        margin-top: 20px;
    }
    .habit-container{
        flex-direction: column;
    }
    .habit-title h2 {
        font-size: 25px;
        font-weight: 700;
    }
    .habit-title p{
        font-size: 14px;
        font-weight: 300;
        color: var(--title-color);
        line-height: 26px;
        padding: 10px 0;
    }
    .run-container{
        padding: 20px 30px;
        flex-direction: column;
        gap: 20px;
    }
    .run-left{
        width: 100%;
    }
    .run-left h1{
        font-size: 25px;
    }
    .run-right{
        width: 100%;
    }
    .run-right img{
        width: 100%;
        text-align: center;
    }
}