/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared styles */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    
}
body{
    background: #0a0a0a;
}
.dancing_script{
    font-family: "Dancing Script", cursive;
}
.max-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 120px;
}
.btn-primary{
    background: rgb(230, 83, 60);
    border: 2px solid #e6533c;
    padding: 10px 23px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 33px;
    cursor: pointer;
}
:root{
    --title-color: #ffffff80;
}
/* header section start */
.header-section{
    background: linear-gradient(0deg, rgb(16, 16, 16) 100%, rgba(16, 16, 16, 0) -10%, rgba(16, 16, 16, 0) 100%)
}
.header{
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo a{
    font-size: 34px;
    color: rgb(230, 83, 60);
    font-style: italic;
    font-weight: 600;
}
.header .menu ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 35px;
}
.header .menu ul li a{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    display: block;
}
li.active a{
    background: rgb(230, 83, 60);
    text-align: center;
    border-radius: 100px;
    text-align: center;
    padding: 7px 20px;
    color: #fff !important;
}

/* menu-btn */
.menu-btn{
    font-size: 20px;
    color: #fff;
    display: none;
}

/* banner content */

.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b-right img{
    width: 100%;
}
.b-left h1 {
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    line-height: 65px;
}
.b-left p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 24px;
    padding: 26px 0px;
    color: var(--title-color);
}
.btn-secondary{
    background: none;
    border: 2px solid var(--title-color);
    padding: 10px 23px;
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
    margin-left: 10px;
    border-radius: 33px;
    cursor: pointer;
}

/* habit section style */

.habit{
    padding: 100px 0;
}
.habit-title{
    text-align: center;
}
.habit-title h2 {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
}
.habit-title p{
    font-size: 16px;
    font-weight: 300;
    color: var(--title-color);
    line-height: 26px;
    padding: 10px 0;
}
.habit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    gap: 30px;  
}
.habit-box img{
    width: 50%;
    border-radius: 100%;
}
.habit-box h4 {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    padding: 15px 0;
}
.habit-box p {
    font-size: 13px;
    color: var(--title-color);
    font-weight: 300;
}

/* run section styles */

.run{
    padding: 100px 0;
}
.run-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    background: #222222;
    padding: 20px 30px;
    border-radius: 10px;
}
.run-left{
    width: 50%;
}
.run-left h1 {
    font-size: 36px;
    color: #fff;
}
.run-left p{
    font-size: 13px;
    color: var(--title-color);
    font-weight: 300;
    padding: 20px 0;
    line-height: 24px;
}
.run-right{
    text-align: right;
    width: 50%;
}
.run-right img{
    border-radius: 10px;
    width: 80%;
}
.btn{
    padding: 8px 40px;
}

/* bmi section styles */
.bmi-calculation{
    padding: 50px 0;
}
.bmi-container{
    background: #222222;
}
.bmi-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.bmi-left{
    width: 50%;
}
.bmi-left h3 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 31px;
}
.bmi-left table, tr, th, td{
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 6px 25px;
    text-align: left;
}
.bmi-left table, th{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.bmi-left table td{
    color: var(--title-color);
    font-size: 14px;
    font-weight: 300;
}
.bmi-right{
    width: 50%;
}
.bmi-right h3 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
}
.bmi-right p{
    font-size: 15px;
    font-weight: 300;
    padding: 0 0 20px 0;
    color: var(--title-color);
}
.bmi-right input[type="text"] {
    padding: 11px 20px;
    font-size: 14px;
    background: #5a5858;
    border: none;
    border-radius: 7px;
    outline: none;
    color: #fff;
}
.bmi-right input[type="text"]::placeholder{
    color: #fff;
}
.bmi-right input[type="number"]{
    padding: 11px 20px;
    font-size: 14px;
    width: 189%;
    background: #5a5858;
    border: none;
    border-radius: 7px;
    outline: none;
    color: #fff;
}
.bmi-right input[type="number"]::placeholder{
    color: #fff;
}
.input-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

/* teams section start */
.teams{
    padding: 60px 0;
}
.teams-title{
    text-align: center;
}
.teams-title h2 {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
}
.teams-title p{
    font-size: 16px;
    font-weight: 300;
    color: var(--title-color);
    line-height: 26px;
    padding: 10px 0;
}
.teams-container{
    background: #222222;
    padding: 20px 10px;
    display: grid;
    border-radius: 10px;
    gap: 20px 0;
    grid-template-columns: repeat(3, 1fr);
}
.teams-box{
    width: 80%;
    margin: 30px auto 0 auto;
}
.teams-card{
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
}
.teams-card img {
    width: 91%;
    height: 217px;
    object-fit: cover;
    border-radius: 10px;
}
.t-img-title {
    position: absolute;
    top: 75%;
    left: 10%;
    text-align-last: left;
}
.t-img-title h5{
    color: #fff;
}
.t-img-title p{
    color: var(--title-color);
    font-size: 14px;
    font-weight: 300;
}